
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ the_title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <style>
            a:link {color:#000000;}
            a:visited {color:#000000;} /* visited link */
            a:hover {color:#2b542c}   /* mouse over link */
            a:active {color:#0000FF;}
        </style>
</head>
<body>
{% block body %}
{% endblock %}

</body>
</html>