<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>
<body>
    <div id="e81aa58e98434ad7bba0ccacd3c9a132" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e81aa58e98434ad7bba0ccacd3c9a132 = echarts.init(
            document.getElementById('e81aa58e98434ad7bba0ccacd3c9a132'), 'white', {renderer: 'canvas'});
        var option_e81aa58e98434ad7bba0ccacd3c9a132 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "Children_0_14_living_with_HIV_2018",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "Afghanistan",
                    "value": 500.0
                },
                {
                    "name": "Angola",
                    "value": 38000.0
                },
                {
                    "name": "Argentina",
                    "value": 1800.0
                },
                {
                    "name": "Australia",
                    "value": 100.0
                },
                {
                    "name": "Burundi",
                    "value": 11000.0
                },
                {
                    "name": "Benin",
                    "value": 4600.0
                },
                {
                    "name": "Burkina Faso",
                    "value": 9100.0
                },
                {
                    "name": "Bangladesh",
                    "value": 500.0
                },
                {
                    "name": "Bahamas, The",
                    "value": 200.0
                },
                {
                    "name": "Belarus",
                    "value": 500.0
                },
                {
                    "name": "Belize",
                    "value": 200.0
                },
                {
                    "name": "Bolivia",
                    "value": 620.0
                },
                {
                    "name": "Botswana",
                    "value": 14000.0
                },
                {
                    "name": "Central African Republic",
                    "value": 11000.0
                },
                {
                    "name": "Chile",
                    "value": 500.0
                },
                {
                    "name": "Cote d'Ivoire",
                    "value": 31000.0
                },
                {
                    "name": "Cameroon",
                    "value": 43000.0
                },
                {
                    "name": "Congo, Dem. Rep.",
                    "value": 64000.0
                },
                {
                    "name": "Congo, Rep.",
                    "value": 7700.0
                },
                {
                    "name": "Colombia",
                    "value": 3600.0
                },
                {
                    "name": "Cuba",
                    "value": 100.0
                },
                {
                    "name": "Germany",
                    "value": 200.0
                },
                {
                    "name": "Djibouti",
                    "value": 810.0
                },
                {
                    "name": "Dominican Republic",
                    "value": 1400.0
                },
                {
                    "name": "Algeria",
                    "value": 500.0
                },
                {
                    "name": "Ecuador",
                    "value": 660.0
                },
                {
                    "name": "Egypt, Arab Rep.",
                    "value": 500.0
                },
                {
                    "name": "Eritrea",
                    "value": 1300.0
                },
                {
                    "name": "Spain",
                    "value": 100.0
                },
                {
                    "name": "Ethiopia",
                    "value": 36000.0
                },
                {
                    "name": "France",
                    "value": 500.0
                },
                {
                    "name": "Gabon",
                    "value": 3200.0
                },
                {
                    "name": "Ghana",
                    "value": 30000.0
                },
                {
                    "name": "Guinea",
                    "value": 10000.0
                },
                {
                    "name": "Gambia, The",
                    "value": 1900.0
                },
                {
                    "name": "Guinea-Bissau",
                    "value": 5700.0
                },
                {
                    "name": "Equatorial Guinea",
                    "value": 5300.0
                },
                {
                    "name": "Guatemala",
                    "value": 2000.0
                },
                {
                    "name": "Guyana",
                    "value": 500.0
                },
                {
                    "name": "Honduras",
                    "value": 890.0
                },
                {
                    "name": "Haiti",
                    "value": 8700.0
                },
                {
                    "name": "Indonesia",
                    "value": 18000.0
                },
                {
                    "name": "Ireland",
                    "value": 100.0
                },
                {
                    "name": "Iran, Islamic Rep.",
                    "value": 880.0
                },
                {
                    "name": "Israel",
                    "value": 100.0
                },
                {
                    "name": "Italy",
                    "value": 500.0
                },
                {
                    "name": "Jamaica",
                    "value": 500.0
                },
                {
                    "name": "Kazakhstan",
                    "value": 500.0
                },
                {
                    "name": "Kenya",
                    "value": 120000.0
                },
                {
                    "name": "Kyrgyz Republic",
                    "value": 500.0
                },
                {
                    "name": "Cambodia",
                    "value": 3300.0
                },
                {
                    "name": "Lao PDR",
                    "value": 700.0
                },
                {
                    "name": "Liberia",
                    "value": 3700.0
                },
                {
                    "name": "Libya",
                    "value": 500.0
                },
                {
                    "name": "Lesotho",
                    "value": 12000.0
                },
                {
                    "name": "Morocco",
                    "value": 560.0
                },
                {
                    "name": "Moldova",
                    "value": 500.0
                },
                {
                    "name": "Madagascar",
                    "value": 1900.0
                },
                {
                    "name": "Mexico",
                    "value": 2300.0
                },
                {
                    "name": "Mali",
                    "value": 19000.0
                },
                {
                    "name": "Myanmar",
                    "value": 9800.0
                },
                {
                    "name": "Mozambique",
                    "value": 140000.0
                },
                {
                    "name": "Mauritania",
                    "value": 500.0
                },
                {
                    "name": "Mauritius",
                    "value": 100.0
                },
                {
                    "name": "Malawi",
                    "value": 74000.0
                },
                {
                    "name": "Malaysia",
                    "value": 500.0
                },
                {
                    "name": "Namibia",
                    "value": 11000.0
                },
                {
                    "name": "Niger",
                    "value": 2500.0
                },
                {
                    "name": "Nigeria",
                    "value": 140000.0
                },
                {
                    "name": "Nicaragua",
                    "value": 500.0
                },
                {
                    "name": "Netherlands",
                    "value": null
                },
                {
                    "name": "Nepal",
                    "value": 1400.0
                },
                {
                    "name": "Pakistan",
                    "value": 5500.0
                },
                {
                    "name": "Panama",
                    "value": 500.0
                },
                {
                    "name": "Peru",
                    "value": 1600.0
                },
                {
                    "name": "Philippines",
                    "value": 500.0
                },
                {
                    "name": "Papua New Guinea",
                    "value": 2900.0
                },
                {
                    "name": "Portugal",
                    "value": 100.0
                },
                {
                    "name": "Paraguay",
                    "value": 500.0
                },
                {
                    "name": "Romania",
                    "value": 100.0
                },
                {
                    "name": "Rwanda",
                    "value": 12000.0
                },
                {
                    "name": "Sudan",
                    "value": 4200.0
                },
                {
                    "name": "Senegal",
                    "value": 4500.0
                },
                {
                    "name": "Sierra Leone",
                    "value": 6600.0
                },
                {
                    "name": "El Salvador",
                    "value": 610.0
                },
                {
                    "name": "Somalia",
                    "value": 1300.0
                },
                {
                    "name": "South Sudan",
                    "value": 16000.0
                },
                {
                    "name": "Suriname",
                    "value": 100.0
                },
                {
                    "name": "Eswatini",
                    "value": 11000.0
                },
                {
                    "name": "Chad",
                    "value": 16000.0
                },
                {
                    "name": "Togo",
                    "value": 12000.0
                },
                {
                    "name": "Thailand",
                    "value": 3200.0
                },
                {
                    "name": "Tajikistan",
                    "value": 540.0
                },
                {
                    "name": "Tanzania",
                    "value": 92000.0
                },
                {
                    "name": "Uganda",
                    "value": 100000.0
                },
                {
                    "name": "Ukraine",
                    "value": 850.0
                },
                {
                    "name": "Uruguay",
                    "value": 200.0
                },
                {
                    "name": "Uzbekistan",
                    "value": 6000.0
                },
                {
                    "name": "Vietnam",
                    "value": 5000.0
                },
                {
                    "name": "World",
                    "value": 1700000.0
                },
                {
                    "name": "Yemen, Rep.",
                    "value": 500.0
                },
                {
                    "name": "South Africa",
                    "value": 260000.0
                },
                {
                    "name": "Zambia",
                    "value": 62000.0
                },
                {
                    "name": "Zimbabwe",
                    "value": 84000.0
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Children_0_14_living_with_HIV_2018"
            ],
            "selected": {
                "Children_0_14_living_with_HIV_2018": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "Children_0_14_living_with_HIV_2018"
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 100,
        "max": 140000,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140
    }
};
        chart_e81aa58e98434ad7bba0ccacd3c9a132.setOption(option_e81aa58e98434ad7bba0ccacd3c9a132);
    </script>
</body>
</html>
