{% extends 'base.html' %}

{% block body %}
<h1 style="text-align: center">{{the_title}}</h1>
<div style="text-align: center">
  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
  <div id="main" style="width: 600px;height:400px;">
  <script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption({{ bar_data | safe }});
  </script>
  </div>
</div>

<form method="POST" action="{{ the_action }}">
    <select name="the_region_selected">
        {% for item in the_select_region %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
<p><input value='Do it!' type='SUBMIT'></p>
</form>

{{ the_plot_all|safe }}
{{ the_res|safe }}


{% endblock %}